.cast-poster {
    width: 100%;
}

.movie-wrapper {
    text-align: center;
    display: block;
    margin-bottom: 10px;  
    cursor: pointer;
}

.movie-poster {
    height: 100px;
    width: auto;
}

.icon-movie {
    font-size: 27px;
    padding-top: 30px;
    height: 100px;
    color: #ccc;
}